p , h1 , h2 ,h3 ,h4, h5 {
    margin: 0;
}

/* * {
    font-family: 'Open Sans', sans-serif,'Alice', serif,'Lato', sans-serif;
} */

em {
    font-weight: bold;
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    body {
        font-size: 12px;
    }
    /* Jumbtron */
    .jumbotron h1 {
        font-size: 2rem;
    }
    /* about */
    .about .col img {
        width: 100%;
        height: auto;
    }
    .about section {
        text-align: left !important;
    }
    /* skills */
    .skills .row {
        margin-left:  10% !important;
        display: block !important;
    }
    .skills {
        border-left: unset !important;
        border-right: unset !important;
        border-top-right-radius: unset !important;
        border-bottom: groove !important;
        border-top-left-radius: unset !important;
    }
    /* Gallery */
    .recents .card-group{
        display: block !important;
    }
    .recents .card-group .card > img , .recents .card-group .card .pop {
        height: 12rem;
    }
}